{% extends 'base.html' %}

{% block body %}
  <div class="container-fluid text-center">
    <div style="font-family: 'Poppins', sans-serif;">
      <h1><b>Amenities</b></h1>
    </div>
    
        <br>
        <h6><b>Included in our apartments are the following amenities:
            <li>Air Conditioning</li>
            <li>Microwave</li>
            <li>Dishwasher</li>
            <li>Free High Speed Internet</li>
            <li>On-Site Laundry (coin operated)
        <br>**Only $0.75 to wash</li></b></h6>

  </div>
  {% endblock %}