{% extends 'base.html' %}

{% block body %}
  <div class="container-fluid text-center">
    <div style="font-family: 'Poppins', sans-serif;">
      <h1>Belmont Events Calendar</h1>
    </div>
    
        <br>
        <h6><b>Office Hours: <br>
            M,W,Th:5pm - 7pm
            Or By Appointment:
            Fri - Sat: By Appointment  
            <br><br>
            Contract Dates:<br>
            Spring/Summer '23: Apr 29 to Aug 18 2023
            Fall/Winter '23-'24:
            Sep 1,'2023 to Apr 26,'2024
            <br><br>
            Contract Information: <br>
            CONTRACTS ARE ON SALE NOW.<br> For a Fall-Winter contract You need a deposit of $300 plus first and last month's rent of $700 for a total of $1000 (check or cash).
            <br>For a Spring-Summer contract first and last month's rent is $260 plus $300 security deposit for a total of $560. For students staying the full month of August the first and last month's rent is $300 plus $300 security deposit for a total of $600.
            <br>Call (801) 375-6212 or stop by the office if you have any other questions.<br><br>
            Rates:<br>
            Sp/Su: $150/mo. shared, $225/mo. private<br>
            F/W: $350/mo. shared only.<br>
            Free utilities, including high speed internet. (Local phone and cable TV no longer provided)<br>
            For your convenience: <a href="https://academiccalendar.byu.edu/" target=”_blank”>BYU's Academic Calendar</a></b></h6>

        </div>
  {% endblock %}