{% extends 'base.html' %}

{% block body %}
  <div class="container-fluid text-center">
    <div style="font-family: 'Poppins', sans-serif;">
      <h1>Contact Information</h1>
    </div>
    
        <br>
        <h6><b>Our office is located at:<br>
            195 East 600 North #22<br>
            Provo, Utah, 84606<br>
            (801) 375-6212<br>
            (385)-240-5193<br>
            <br><br>
            Or email us at:
            <a href="mailto: belmontapartmentsprovo@gmail.com">belmontapartmentsprovo@gmail.com</a>
            <br><br>
            For emergencies only:<br>
            (801) 477-9200<br>
            (801) 367-6385<br>
            </b></h6>

  </div>
  {% endblock %}