{% extends 'base.html' %}

{% block body %}
  <div class="container-fluid text-center">
    <div style="font-family: 'Poppins', sans-serif;">
      <h1>Fall/Winter Forms <br><br></h1>
    </div>
        <h3>For procedures to obtaining a Belmont Apts. contract, follow the 
        <a href="http://www.belmontapts.net/My_Homepage_Files/Download/ContractProcedure.pdf" target="_blank">Contract Procedure</a>.<br><br></h3>
        <h5>Contracts: <br>
        <a href="http://www.belmontapts.net/My_Homepage_Files/Download/RA_Form.pdf" target="_blank">Belmont Rental Application Form</a> - (Fill out online and print 1 copy) <br>
        <a href="http://www.belmontapts.net/My_Homepage_Files/Download/2023-2024-fall-winter-Student-Landord-agreement.pdf" target="_blank">2023 (Fall/Winter) Student-Landord Agreement</a> - (Fill out online and print 2 copies)<br>
        <a href="http://www.belmontapts.net/My_Homepage_Files/Download/HouseRules.pdf" target="_blank">House Rules Contract Addendum</a> - (Print 2 copies)</h3><br>
        <h6>Fall/Winter contracts go on sale Saturday, Feb 4th 2023 at 10am.<br><br>


            Below is a checklist of things that need to be done before you come to buy a contract - Click the Contract Procedure link for instructions.<br><br>
            
            Belmont Rental Application form<br>
            2023/2024 Fall/Winter Student-Landlord Agreement<br>
            House Rules Contract Addedum<br><br>
            -$300 security deposit, plus first and last month's rent due at signing a total of $1000.<br><br>
            
            - Copy two forms of personal id (drivers license and student id)<br><br>
            
            - If you are unable to be present you must have a representative bring your filled out contracts, a check and copied ids for you on the appropriate dates.<br><br>
            
            - If a person in your group cannot be present and has not filled out the contracts under their name it is possible to purchase a contract for them but there is a $25 transfer fee to hold the contract till they come in a transfer the contract to their name.<br><br>
            
            - If you are interested in seeing an apartment please knock on a girl’s apartment if you are a girl. The long side of the building facing the east is the girl’s side. Please do not knock on any door before 10am and no later than 9pm.<br><br>
            
            - Foreign nationals’ must make a copy of passport and visa and pay the full amount of the contract up front.
            </h6>

        </div>
  {% endblock %}