{% extends 'base.html' %}

{% block body %}
  <div class="container-fluid text-center">
    <div style="font-family: 'Poppins', sans-serif;">
      <h1>Belmont Forms</h1>
    </div>
    
        <br><br>
        <h6><b>
            <a href="/sp_sm_contracts">SPRING / SUMMER CONTRACTS</a><br><br>




            <a href="/fl_w_contracts">FALL / WINTER CONTRACTS</a><br><br>
            
            
            Other Forms:<br>
            <a href="http://www.belmontapts.net/My_Homepage_Files/Download/Maintenance_Request_sheets.pdf">Maintenence Request Form<br></a>
            (print and fill out by hand)<br><br>
            <a href="http://www.belmontapts.net/My_Homepage_Files/Download/SELLCONTRACT201X.pdf">Notification to Sell Contract</a><br>
            (print and fill out by hand)
            </b></h6>

  </div>
  {% endblock %}