{% extends 'base.html' %}

{% block body %}
  <div class="container-fluid text-center">
    <div style="font-family: 'Poppins', sans-serif;">
      <h1>Welcome to Belmont Apartments!</h1>
    </div>
        <b><div><h2><img class= "img-fluid" src="http://www.belmontapts.net/My_Homepage_Files/IMG_19.jpg"></h2>
        195 East 600 North Provo, UT 84606</div></b>
    
        <br>
        <h6>Belmont Apartments is located one and a half blocks south of the Brigham Young University campus in Provo, Utah. We have 21 apartments that are divided among three levels which can house up to 126 single students.
            <br><br>
            Each apartment houses six students with three bedrooms and two
            bathrooms. Included in the apartments are all the furnishings, a
            microwave, dishwasher, central heating/air conditioning, and cable
            hook-ups. We have a laundry facility and storage room on site. Each
            student also has an 100Mb/s Ethernet connection at their bedroom desk.
            <br><br>
            All students are required to live by the BYU Honor Code and agree to abide by the Residential Living Standards as outlined in the contract. This information can also be viewed at BYU Off-Campus Housing Website.</h6>
  </div>
  {% endblock %}