{% extends 'base.html' %}

{% block body %}
  <div class="container-fluid text-center">
    <div style="font-family: 'Poppins', sans-serif;">
      <h1>Current Openings<br><br>
    CONTRACTS AVAILABLE*</h1>
    </div>
    
        <br>
        <h6><b> <br>
            Fall/Winter 2023-24 <br>
            Spring/Summer 2023 <br><br>
            
            2023 - 2024<br>
            ***************************<br>
            Fall / Winter 2023-2024 contracts:<br>
            Men: 0<br>
            Women: 0<br><br>
            
            Contact manager to be on waiting list<br><br>
            
            Spring/Summer 2023<br>
            Men: 0<br>
            Women: 0<br><br><br>
            
            
            
            
            *Semester Contracts only<br><br>
            
            
            
            Contact the Manager for information.<br><br>
            
            
            
            Managers: Allison & Brady Furr<br>
            801-375-6212 Office / 385-240-5193 cell<br>
            belmontapartmentsprovo@gmail.com<br>
            Office Hours:5-7 pm Mon, Wed, Thurs
            or by Appointment<br><br>
            
            Closed Sunday
            </b></h6>

  </div>
  {% endblock %}