{% extends 'base.html' %}

{% block body %}
  <div class="container-fluid text-center">
    <div style="font-family: 'Poppins', sans-serif;">
      <h1>Rental Rates</h1>
    </div>
    
        <br>
        <h6><b>Rental Rates
            Spring/Summer 2023
            $150/mo for a shared room
            <br><br>
            Fall/Winter 2023-2024
            $350/mo. for a shared room.
            <br><br>
            *** SEMESTER CONTRACTS ONLY
            <br><br>
            <h2><img class= "img-fluid" src="https://i.imgur.com/AtYjSbG.jpg" width=500px height=500px></h2>
            To obtain a contract click on Forms & Contracts
            Click on desired semester contract
            Click on Contract Procedure. Follow instructions.</b></h6>

  </div>
  {% endblock %}